@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Nunito", sans-serif;
  box-sizing: border-box;

  --color-bckgrnd: #5fcf80;
  --color-bckgrnd-dark: #3ac162;

  --color-fewd: #07870b;
  --color-fsjs: #1e1efc;
  --color-web: #ffba3b;
  --color-py: #1edbfc;
  --color-data: #8511ba;
  --color-ux: #d111ce;
}

body {
  background-color: var(--color-bckgrnd);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: var(--color-bckgrnd);
}

main {
  margin: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main h1 {
  line-height: 1.1;
  font-size: 1.9rem;
  color: white;
}
@media (min-width: 768px) {
  main h1 {
    font-size: 3rem;
  }
}
main h2 {
  color: white;
}
@media (min-width: 768px) {
  main h2 {
    font-size: 2.4rem;
  }
}
main .student-cards {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 10px;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
}
@media (min-width: 768px) {
  main .student-cards {
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
    grid-gap: 25px;
  }
}
@media (min-width: 1024px) {
  main .student-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
main .student-cards .student-card {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  background: white;
  border-radius: 10px;
  padding: 10px;
  display: block;
  border: 5px solid var(--color-bckgrnd-dark);
  position: relative;
  overflow: hidden;
}
.mike {
    height: 35px;
    position: absolute;
    bottom: 0;
    right: -2.4rem;
    transform: rotate(-45deg);
    transition: right 0.5s ease;
}
.student-card:hover .mike {
    right: -0.4rem;
}
main .student-cards .student-card .student-name {
  font-size: 1.3rem;
}
main .student-cards .student-card .student-name, main .student-cards .student-card .techdegree, main .student-cards .student-card .favorite {
  margin: 10px;
}
main .student-cards .student-card a {
  color: var(--color-bckgrnd-dark);
}

footer {
  margin-top: auto;
  color: white;
  padding: 5px;
}


/* styles for buttons */

.techDegree {
  color:var(--color-bckgrnd);
  padding: 7px 15px;
  font-size: 1em;
  margin: 20px 5px;
  border-radius: 5px;
  border: solid 3px var(--color-bckgrnd-dark);
  background-color: white;
  box-shadow: inset;
  animation: bouncy 5s linear;
  position: relative;
  transition: all .5s ease-in-out;
}

.techDegree.fewd-btn {
  color: var(--color-fewd);
  border: solid 3px var(--color-fewd);
}
.techDegree.fsjs-btn {
  color: var(--color-fsjs);
  border: solid 3px var(--color-fsjs);
}
.techDegree.web-btn {
  color: var(--color-web);
  border: solid 3px var(--color-web);
}
.techDegree.py-btn {
  color: var(--color-py);
  border: solid 3px var(--color-py);
}
.techDegree.data-btn {
  color: var(--color-data);
  border: solid 3px var(--color-data);
}
.techDegree.ux-btn {
  color: var(--color-ux);
  border: solid 3px var(--color-ux);
}

.techDegree:hover {
  background-color: var(--color-bckgrnd);
  cursor: pointer;
  color: white;
}

.techDegree-active {
  background-color: var(--color-bckgrnd);
  color: white;
}

@keyframes bouncy {
  0%{top:0em}
  40%{top:0em}
  43%{top:-0.9em}
  46%{top:0em}
  48%{top:-0.4em}
  50%{top:0em}
  100%{top:0em;}
}


/*# sourceMappingURL=styles.css.map */
